[submodule "zint"]
	path = zint
	url = https://git.code.sf.net/p/zint/code
[submodule "mujs"]
	path = mujs
	url = https://github.com/ccxvii/mujs
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/azadkuh/sqlite-amalgamation
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
