[submodule "zint"]
	path = zint
	url = https://github.com/woo-j/zint
[submodule "mujs"]
	path = mujs
	url = https://git.ghostscript.com/mujs.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/azadkuh/sqlite-amalgamation
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
